body {
    background-color: #2E3338;
}

h1 {
    text-align: center;
    color: #69FFF1;
}
h2 {
    text-align: center;
    color: #F8E16C
}
p {
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
}
ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
a {
    color: #D8DDEF;
}
.text-box {
  	background-color: rgba(0, 0, 0, 0.3); 
  	padding: 20px;
  	border-radius: 8px; 
  	display: block;
  	margin: 20px auto; 
    text-align: left;
    max-width: 800px;
    width: fit-content;
    
}