body {
    background-color: #2E3338;
    font-family: 'Poppins', sans-serif;
    width: 800px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: #69FFF1;
}
h2 {
    color: #F8E16C;
    text-align: center;
}
p {
    color: #FFFFFF;
}
.top-nav {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.bottom-nav {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.footer-links {
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
a {
    color: #D8DDEF;
}
legend {
    color: #00CED1;
    font-weight: bold;
    
}
label {
    color: #FFFFFF;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 15px;
}
fieldset {
    border-color: #D1D5DB;
    padding: 15px;
    margin-bottom: 20px;
}
.hidden { 
    display: none; 
}

footer {
    text-align: center;
}
ol {
    margin-top: 10px;
    margin-left: 13px;
    color: #FFFFFF;
}
ul {
    color: #FFFFFF;
}
blockquote {
    color: #FFFFFF;
    text-align: center;
}
figcaption {
    text-align: center;
    color: #FFFFFF;
}
.classes {
    color: #FFFFFF;
    padding: 5px;
}
#classes {
    color: #FFFFFF;
    padding: 5px;
}
li {
   margin-bottom: 10px;
}
.profile-pic {
  display: block;          
  max-width: 250px;        
  height: auto;            
  margin: 20px auto;       
  border-radius: 10px;     
}
#generated-section pre code {
  color: #69FFF1;       
  font-family: monospace;
  font-size: 1rem;
  background-color: #1e1e1e; 
  display: block;
  padding: 1em;
  border-radius: 8px;
  white-space: pre-wrap; 
}

