body {
    background-color: #76818E;
}

h1 {
    text-align: center;
    color: #69FFF1;
}
h2 {
    text-align: center;
    color: #F8E16C
}
p {
    text-align: center;
    color: #FFFFFF;
}
ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
a {
    color: #90F4D8;
}
