    <nav class="nav_one">
    <ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="introduction.html">About Me</a></li>
		<li><a href="contract.html">Contract</a></li>
	</ul>
    </nav>
	<nav class="nav_two">
		<ul>
			<li><a href="Mascot/index.html">Mascot Company</a></li>
			<li><a href="CSandEnterprises/index.html">CSandEnterprises</a></li>
			<li><a href="crappypage/MY CRAPPP &&.htm">CRAPPY Webpage</a></li>
			<li><a href="website_eval/index.html">Website Evaluation</a></li>
		</ul>
	</nav>