    <header>
	<nav class="nav_one">
    <ul class="top_nav">
		<li><a href="index.html">Home</a></li>
		<li><a href="introduction.html">About Me</a></li>
		<li><a href="contract.html">Contract</a></li>
		<li><a href="website_eval.html">Website Evaluation</a></li>
	</ul>
    </nav>
	<h1>Colby Sanders | Clever Salmon | ITIS 3135</h1>
	<nav class="nav_two">
		<ul class="bottom_nav">
			<li><a href="Mascot/index.html">Mascot Company</a></li>
			<li><a href="CSandEnterprises/index.html">CSandEnterprises</a></li>
			<li><a href="crappypage/MY CRAPPP &&.htm">CRAPPY Webpage</a></li>
			
		</ul>
	</nav>
	</header>