body {
    background-color: teal;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
ul {
    text-align: center;
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}
